{% extends 'rechner/base.html' %}

{% block title %}
    {{page_name}}
{% endblock %}

{% block header %}
    {{page_header}}
{% endblock %}

{% block content %}
    <p>{{page_text}}</p>
    <form  method='POST'>
        {% csrf_token %}
        <select name = "chosen_template">
            <option value="">
                Choose...
            </option>
            {% for template in event_templates %}
                <option value="{{template.pk}}">
                    {{template.name}}
                </option>
            {% endfor %}
        </select>
        <p> Zahl der Teilnehmenden: <input id="nu_of_ppl" name="nu_of_ppl" size="4"> </p>
        <button type='submit' onclick="location.href='{{button_link}}'">
        {{button_text}}
        </button>
    </form>
{% endblock %}
