{% extends 'rechner/base.html' %}

{% block title %}
{{ page_name }}
{% endblock %}

{% block header %}
    {{ page_header }}
{% endblock %}

{% block description %}
    {{page_description}}
{% endblock %}

{% block content %}

    <style>
        txt_grey {
            color: grey;
        }
        .hide {
            display: none;
        }
        .myDIV:hover + .hide {
            display: block;
            color: red;
        }
        ul {list-style: none; padding: 0; }
        li {position: relative; padding: 0 0 0 20px; list-style: none; }
        li:before {content: '-'; position: absolute; top: 0; left: 0;}
    </style>

    <p> </p>
    <form action="" method="POST"> {% csrf_token %}
        <table id="q_table">
              <tr><th style="text-align:left">Allgemein</th></tr>
            <tr>
                <td colspan="1"> Name der Veranstaltung: </td>
                <td colspan="4">
                  {% autoescape off %}
                  <input type="text" name="event_name" maxlength="100" size="17" required value={{event_name}}>
                  {% endautoescape %}
                </td>
            </tr>
          <tr>
              <td colspan="1"> Anzahl der Teilnehmenden (TN): </td>
              <td>
                <input name="TNs" maxlength="18" size="6" required value={{TNs}} type="number" step="1">
              </td>
          </tr>
            {% for q,d,first,last,has_unit,has_info,scale in q_v_f_l_u_i_and_s %}

<!--          Show category -->
                {% if first %}
                    <tr>
                      <th style="text-align:left" colspan="1">
                        <br>{{q.category}}</br>
                      </th>
                      <th style="font-weight:normal;color:grey;font-size:16;text-align:center">
                         <br>Menge</br>
                       </th>
                      <th style="font-weight:normal;color:grey;font-size:16;text-align:center">
                        <br>·TN</br>
                      </th>
                      <th style="font-weight:normal;color:grey;font-size:16;text-align:center" class="hide">
                        <br>Mit Zahl der Teilnehmenden multiplizieren</br>
                      </th>
                    </tr>
                {% endif %}

<!--          List questions -->
                <tr>
                    <td><li>{{q.question_text }} {% if has_unit %} [{{q.unit}}] {% endif %} </li></td>
                    <td>
                        <input id="id_subject"  name={{q.id}} maxlength="20"
                               size="6" required value={{d}} type="number" step="any">
                    </td>
                    <td style="text-align:center">
                        <input type="checkbox" name="scale{{q.id}}" {{scale}} style="float:center;text-align:center">
                    </td>
                    <td>
                            <button type='submit' name="enter" value=1 hidden="hidden">-</button>
                            <button type='submit' name="remove_field" value={{q.id}}
                              class="ar_btn remove_btn"><b>-</b></button>
                    </td>
<!--          Info Hint -->
                    <td>
                      {% if has_info %}
                            <div class = "myDIV" style="float:right;text-align:right"> (info) </div>
                            <div class = "hide"> {{q.info_text}} </div>
                      {% endif %}
                    </td>
                </tr>
                <tr>
                </tr>

<!--              Option to add question -->
                {% if last %}
                    <tr>
                      <td colspan="3"> </td>
                      <td>
                      <div class="dropdown">
                       <div class="ar_btn add_btn">+</div>
                       <div class="dropdown-content" >
                         {% for add_q in missing_qs %}
                           {% if add_q.category == q.category %}
                             <button type='submit' name="new_field" value={{add_q.id}}> {{ add_q.name }} </button>
                           {% endif %}
                         {% endfor %}
                       </div>
                      </div>
                      </td>
                    </tr>

                {% endif %}

            {% endfor %}
            <tr><td><br/></td></tr>

<!--      Option to add question of new category -->
            <tr>
              <td colspan="1">
                <div class="dropdown">
                 <div class="dropbtn" style="font-weight:bold">Neue Kategorie:</div>
                  <div class="dropdown-content"  >
                    {% for mc in missing_cats %}
                        <button type='submit' name="new_cat" value={{mc.id}} > {{ mc.name }} </button>
                    {% endfor %}
                  </div>
                </div>
              </td>
            </tr>
            {% if cat_added != None %}
                <tr>
                  <td colspan="3"> Neuer Posten aus {{cat_added}}: </td>
                  <td colspan="1">
                    <div class="dropdown">
                     <div class="ar_btn add_btn" >+</div>
                      <div class="dropdown-content"  >
                        {% for mc in new_c_q_list %}
                          <button  type='submit' value={{mc.id}} name="new_field"> {{ mc.name }} </button>
                        {% endfor %}
                      </div>
                    </div>
                  </td>
                </tr>
            {% endif %}
        </table>
        <br>

<!--  Submit buttons -->
        <table>
            <tr>
                <td> <input type="submit" name="submit form" value="Submit" class="button green_button"> </td>
                <td> <input type="submit" name="reset" value="Reset" class="button orange_button"> </td>
                <td> <input type='button'  name="back" value="Back" onclick="location.href='{{button_link}}'" class="button red_button"> </td>
            </tr>
        </table>
    </form>

{% endblock %}
