{% extends 'rechner/base.html' %}

{% block title %}
{{page_name}}
{% endblock %}


{% block header %}
    {{page_header}}
{% endblock %}


{% block description %}
<p> {{page_description}} </p>
{% endblock %}

{% block content %}
<p> Gesamtemissionen: {{co2_sum}} kg CO2eq. </p>

{% autoescape off%}
{{ plot }}
{% endautoescape %}

{{table_content}}

{{table|safe}}

<p> Optionen zur Reduktion: </p>
{{reduction_table|safe}}

{% endblock %}


{% block button %}
{% if button_link != None %}
<button type='submit' onclick="location.href='{{button_link}}'">
{{button_text}}
</button>
{% endif %}
{% endblock %}
