{% extends 'rechner/base.html' %}

{% block title %}
{{ page_name }}
{% endblock %}

{% block header %} 
    {{ page_header }}
{% endblock %}

{% block content %}
    <form action="" method="post">
        <table style="width:50%">
            {% for q,d,first,last in q_d_f_and_l %}
                {% if first %}
                    <tr>  <th> <br> {{q.category}}  </th> </tr>
                {% endif %}
                <tr>
                    <td>Question {{forloop.counter}}: {{q.question_text }}</td>
                    {% csrf_token %}
                    <td>     <input id="id_subject" type="text" name={{q.name}} maxlength="100" required value={{d}}> </td>
                </tr>
                
                {% if last %}
                    <tr> <td>---</td> </tr>
                    <tr> 
                        <td> Posten hinzufügen: </td>
                        <td>
                            <form method="post">
                                <select name="chosen_category">
                                    <option value="False"> Choose... </option>
                                    {% for new_q in q_list %}
                                        {% if new_q.category == q.category %}
                                            <option value="{{new_q.id}}"> {{ new_q.name }} </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <br>
        
        
        <table>
            <tr>
                <td> <input type="submit" value="Submit"> </td>
                <td> <input type="reset" value="Reset"> </td>
                <td> <input type='button'  value="Back" onclick="location.href='{{button_link}}'"> </td>
            </tr>
        </table>
    </form>
 
{% endblock %}

