{% extends 'rechner/base.html' %}

{% block title %}
{{ page_name }}
{% endblock %}

{% block header %} 
    {{ page_header }}
{% endblock %}

{% block content %}
    <form action="" method="post">
        <table style="width:50%">
            {% for q,d,nc in q_and_d%}
                {% if nc == 1 %}
                    <tr>  <th> <br> {{q.category}}  </th> </tr>
                {% endif %}
                <tr>
                    <td>Question {{forloop.counter}}: {{q.question_text }}</td>
                    {% csrf_token %}
                    <td>     <input id="id_subject" type="text" name={{q.name}} maxlength="100" required value={{d}}> </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <input type="submit" value="Submit">
    </form>
 
{% endblock %}

