{% extends 'rechner/base.html' %}

{% block title %}
{% autoescape off%}
{{page_name}}
{% endautoescape %}
{% endblock %}


{% block header %}
{% autoescape off%}
    {{page_header}}
    {% endautoescape %}
{% endblock %}


{% block description %}
{% autoescape off%}
<p> {{page_description}} </p>
{% endautoescape %}
{% endblock %}

{% block content %}

{% autoescape off%}
<p> {{page_content}} </p>
{% endautoescape %}

{% endblock %}

{% block button %}
{% if button_link != None %}
<button type='submit' onclick="location.href='{{button_link}}'">
{{button_text}}
</button>
{% endif %}
{% endblock %}
