{% extends 'rechner/base.html' %}

{% block title %}
  {{ page_name }}
{% endblock %}

{% block header %}
  {{ page_header }}
{% endblock %}

{% block description %}
  {{page_description}}
{% endblock %}

{% block content %}

<table style="width:50%">
<p>
<tr><td>Quelle:</td><td>{{ source.name }}</td></tr>
</p>

<p>
<tr><td>Autor:</td><td>{{ source.author }}</td></tr>
</p>

<p>
<tr><td>URL: </td><td><a href={{ source.url }}>{{ source.url }}</a></td></tr>
</p>

<p>
<tr><td>Year: </td><td>{{ source.year }}</td></tr>
</p>

<p>
<tr><td>Trust: </td><td>{{ source.trust }}</td></tr>
</p>

<p>
<tr><td>Explanation: </td><td>{{ source.expl }}</td></tr>
</p>
</table>

{% endblock %}
